:root {
    --white: #ffffff;
    --gray-1: #333333;
    --gray-2: #4f4f4f;
    --gray-3: #BDBDBD;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
}

body, main {
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
}

.btn--black {
    background-color: var(--gray-1);
    border: var(--gray-1);
    padding: 1.25rem 2rem;
    color: var(--white);
    text-transform: capitalize;
    cursor: pointer;
}

.btn--black:hover {
    background-color: var(--gray-2);
    border: var(--gray-2);
}

.main__head {
    font-family: 'Inconsolata', monospace;
    padding: 2rem 6rem;
}

.main__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    padding: 3.25rem 6rem;
    margin: auto;
}

.main__body__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__body h2 {
    font-size: calc(3vw + 1rem);
    margin-bottom: 2rem;
    color: var(--gray-1);
}

.main__body p {
    display: grid;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    grid-template-columns: 3fr 2fr;
    color: var(--gray-2);
}

.main__footer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    padding: 2rem 6rem;
}

.main__footer p {
    color: var(--gray-3);
    font-size: .75rem;
}

@media (max-width: 768px) {

    .main__head {
        padding: 2rem;
    }

    .main__head h1 {
        font-size: calc(2vw + 1rem);
    }

    .main__body {
        grid-template-columns: 1fr;
        column-gap: 1rem;
        padding: 2.75rem 2rem;
    }

    .main__body .main__body__img {
        margin-bottom: 1rem;
        padding: 0 2rem 2rem 2rem;
    }

    .main__body p {
        grid-template-columns: 1fr;
    }

    .main__footer {
        padding: 2rem;
    }
}